*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #1651e7;
}
.app{
    background: #dde3e7;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 10px;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #074913;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 28px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 15px;
    color: #074913;
    font-weight: 600;
    margin-top: 16px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}
.btn:hover:not(:disabled){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #1651e7;
    color: #fff;
    font-weight: 500;
    border: none;
    width: 150px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
  background: rgb(160, 222, 67);  
}
.incorrect{
    background: rgb(236, 75, 75);
}